<header class="navbar">
  <div class="navbar-content">
    <div class="spacer"></div> <!-- empuja el usuario a la derecha -->
    <div class="user-menu">
      <div class="user-name" (click)="toggleDropdown()">
        👤 {{ user }} ▾
      </div>
      <ul class="dropdown" [class.show]="dropdownVisible">
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Configuración</a></li>
        <li><a href="#">Cerrar sesión</a></li>
      </ul>
    </div>
    

  </div>
</header>
<button class="toggle-btn" (click)="toggleSidebar()">☰</button>
<aside class="sidebar" [ngClass]="{ 'open': sidebarOpen }">
  <div class="header" style="margin-top: 100px;">
    <img src="../../../assets/logo_ceraor.svg" width="60" height="auto"/>
  </div>
  <nav>
    <a [routerLink]="['/home']">
      <i class="bi bi-house-door-fill"></i>
      <p>Home</p>
    </a>
    <a *ngIf="canShow('see_user')" [routerLink]="['/users']">
      <i class="bi bi-people-fill"></i>
      <p>Usuarios</p>
    </a>
    <a *ngIf="canShow('see_rolpermission')" [routerLink]="['/rolspermissions']">
      <i class="bi bi-ui-radios"></i>
      <p>Roles/Permisos</p>
    </a>
    <a *ngIf="canShow('see_service')" [routerLink]="['/services']">
      <i class="bi bi-list-check"></i>
      <p>Servicios</p>
    </a>
    <a *ngIf="canShow('see_subsidiary')" [routerLink]="['/subsidiaries']">
      <i class="bi bi-building"></i>
      <p>Sucursales</p>
    </a>
    <a *ngIf="canShow('see_client')" [routerLink]="['/clients']">
      <i class="bi bi-person-video2"></i>
      <p>Clientes</p>
    </a>
    <a [routerLink]="['/agenda']">
      <i class="bi bi-calendar-date-fill"></i>
      <p>Agenda</p>
    </a>
    <a *ngIf="canShow('see_order')" [routerLink]="['/orders']">
      <i class="bi bi-list-ul"></i>
      <p>Ordenes</p>

    </a>
    <a (click)="logout()">
      <i class="bi bi-box-arrow-left"></i>
      <p>Cerrar Sesión</p>
    </a>
  </nav>
</aside>