<div class="calendar-container mt-5 text-center">
  <div class="calendar-header mt-5">
    <button class="btn btn-outline-primary" (click)="prev()">Anterior</button>
    <h4>{{ currentDate | date: 'MMMM yyyy' }}</h4>
    <button class="btn btn-outline-primary" (click)="next()">Siguiente</button>
  </div>
  <div class="view-toggle btn-group text-center" role="group">
    <button class="btn btn-secondary" (click)="changeView('month')">Mes</button>
    <button class="btn btn-secondary" (click)="changeView('week')">Semana</button>
    <button class="btn btn-secondary" (click)="changeView('day')">Día</button>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-6 col-md-4">
      <label for="subsidiarySelect">Selecciona una sucursal</label>
      <select class="form-control" id="subsidiarySelect" [(ngModel)]="selectedSubsidiary"
        (change)="onSubsidiaryChange()">
        <option value="" disabled selected>-- Elige una sucursal --</option>
        <option *ngFor="let s of subsidiaries" [value]="s.id">{{ s.name }}</option>
      </select>
    </div>
  </div>

  <div class="container" *ngIf="rol === 'Owner' || rol === 'SuperAdmin' || rol === 'Admin' || rol === 'Recepcionista'">
    <div class="row justify-content-center">
      <div class="col-2">
        <button class="btn btn-dark" (click)="open(content)"><i class="bi bi-upc-scan"></i> Escanear Cita</button>
      </div>
    </div>
  </div>

  <div *ngIf="view === 'month'" class="month-view">
    <div class="grid">
      <div class="day-header" *ngFor="let day of weekDays">
        {{ day }}
      </div>

      <div class="day-cell" *ngFor="let day of getDaysOfMonth()" (click)="openModal(day, $event)"
        [ngClass]="{'current-day': day && isToday(day)}">

        <span *ngIf="day" class="day-number">{{ day | date: 'd' }}</span>
        <div class="events-container" *ngIf="day">
          <div *ngFor="let event of getEventsForDay(day)" class="event" [style.backgroundColor]="event.color"
            (click)="openEventDetails(event, eventDetailsModal); $event.stopPropagation()">
            <span>{{ event.title }}</span><br>
            <small>{{ event.start | date:'shortTime' }}</small>
            <button *ngIf="canShow('delete_appointment')" class="btn-delete"
              (click)="deleteEvent(event.id, $event)">×</button>
          </div>
        </div>

        <!-- <div class="events-container" *ngIf="day">
          <div *ngFor="let event of getEventsForDay(day)" class="event" [style.backgroundColor]="event.color"
            (click)="openEventDetails(event, eventDetailsModal); $event.stopPropagation()">
            <span>{{ event.title }}</span>
            <button class="btn-delete" (click)="deleteEvent(event.id, $event)">×</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <ng-template #eventDetailsModal let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles del Evento</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body" *ngIf="selectedEvent">
        <p><strong>Título:</strong> {{ selectedEvent.title }}</p>
        <p><strong>Fecha:</strong> {{ selectedEvent.start | date:'dd/MM/yyyy' }}</p>
        <p><strong>Hora:</strong> {{ selectedEvent.start | date: 'shortTime' }}</p>
        <p><strong>Personal:</strong> {{ selectedEvent.personal }}</p>
        <p><strong>Sucursal:</strong> {{ selectedEvent.subsidiary_name }}</p> <!-- ✅ ya actualizado -->
        <p><strong>Servicio:</strong> {{ selectedEvent.service_name }}</p> <!-- ✅ ya actualizado -->
        <p><strong>Color:</strong> <span [style.backgroundColor]="selectedEvent.color" class="color-box"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cerrar</button>
      </div>
    </div>
  </ng-template>


  <div *ngIf="view === 'week'" class="week-view">
    <div *ngFor="let day of getDaysOfWeek()" class="week-day" (click)="openModal(day)"
      [ngClass]="{'current-day': isToday(day)}">
      <span class="day-number">{{ day | date: 'EEEE d' }}</span>

      <div class="events-container">
        <div *ngFor="let event of getEventsForDay(day)" class="event" [style.backgroundColor]="event.color"
          [ngClass]="{ 'past-event': isPast(event) }"
          (click)="openEventDetails(event, eventDetailsModal); $event.stopPropagation()">
          <span>{{ event.title }}</span>
          <button class="btn-delete" (click)="deleteEvent(event.id, $event)">×</button>
        </div>


        <!-- <div *ngFor="let event of getEventsForDay(day)" class="event" [style.backgroundColor]="event.color">
          <span>{{ event.title }}</span>
          <button class="btn-delete" (click)="deleteEvent(event.id, $event)">×</button>
        </div> -->

      </div>
    </div>
  </div>


  <div *ngIf="view === 'day'" class="day-view">
    <h4>{{ currentDate | date: 'EEEE, d MMMM yyyy' }}</h4>

    <div class="events-container">
      <div *ngFor="let event of getDayEvents()" class="event" [style.backgroundColor]="event.color">
        <span>{{ event.title }}</span>
        <button class="btn-delete" (click)="deleteEvent(event.id, $event)">×</button>
      </div>
    </div>
  </div>



  <ng-template #eventModal let-modal
    *ngIf="rol === 'Owner' || rol === 'SuperAdmin' || rol === 'Admin' || rol === 'Recepcionista' || rol === 'Doctor'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Cita</h5>
        <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body">
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="manualClientSwitch" [(ngModel)]="isManualClient">
          <label class="form-check-label" for="manualClientSwitch">Escribir cliente manualmente</label>
        </div>

        <label>Cliente</label>

        <!-- Select de clientes -->
        <select name="title" class="form-control mb-2" [(ngModel)]="eventForm.title" [disabled]="isManualClient">
          <option *ngFor="let client of clients" [value]="client.name + ' ' + client.lastname">
            {{ client.name }} {{ client.lastname }}
          </option>
        </select>

        <!-- Input manual -->
        <input *ngIf="isManualClient" type="text" class="form-control mb-2" placeholder="Nombre completo del cliente"
          name="manualClient" [(ngModel)]="eventForm.title" [required]="isManualClient" />



        <label>Fecha</label>
        <input type="date" class="form-control mb-2" [(ngModel)]="eventForm.start" required />

        <label>Hora de Inicio</label>
        <input type="time" class="form-control mb-2" [(ngModel)]="eventForm.startTime" (change)="updateEndTime()"
          required />

        <label>Hora de Finalización</label>
        <input type="time" class="form-control mb-2" [(ngModel)]="eventForm.endTime" readonly required />


        <label>Doctor Afiliado</label>
        <select name="personal" id="" class="form-control mb-2" (change)="onDoctorChange($event)">
          <option value="" selected>Seleccione un doctor</option>
          <option *ngFor="let doctor of doctors" value="{{doctor | json}}">{{doctor.name}}
            {{doctor.lastname}}</option>
        </select>

        <label>Orden ligada</label>
        <select name="id_order" id="" class="form-control mb-2" [(ngModel)]="eventForm.id_order">
          <option value="" selected>Seleccione un orden</option>
          <option *ngFor="let order of catalogOrders" value="{{order.id}}">{{order.patient}} - {{order.created_at}}
          </option>
        </select>

        <label>Sucursal</label>
        <select class="form-control mb-2" [(ngModel)]="eventForm.id_subsidiary"
          (change)="getServices(eventForm.id_subsidiary)" required>
          <option value="" selected>Seleccione una sucursal</option>
          <option *ngFor="let subsidiary of subsidiaries" [value]="subsidiary.id">
            {{ subsidiary.name }}
          </option>
        </select>

        <label>Servicio</label>
        <select class="form-control mb-2" [(ngModel)]="eventForm.service" required>
          <option *ngFor="let service of services" [value]="service.id">
            {{ service.name }}
          </option>
        </select>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveEvent(); modal.dismiss()"
          [disabled]="!isFormValid()">Guardar</button>

      </div>
    </div>
  </ng-template>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">BARCODE</h4>
    <input type="text" #codigoInput (input)="onBarcodeInput(codigoInput.value)" autocomplete="off" autofocus />

    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Doctor</th>
            <th>Sucursal</th>
            <th>Service</th>
            <th>Folio</th>
            <th>Cita</th>
            <th>Doctor</th>
            <th>Creación</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{appointment?.client}}</td>
            <td>{{appointment?.personal}}</td>
            <td>{{appointment?.subsidiary_name}}</td>
            <td>{{appointment?.service_name}}</td>
            <td>{{appointment?.code}}</td>
            <td>{{ appointment?.appointment | date:"EEEE d 'de' MMMM 'de' y, h:mm a" }}</td>
            <td>{{appointment?.doctor}}</td>
            <td>{{appointment?.created_at | date:'short'}}</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
      (click)="checkAppointment(appointment.appointment_id, appointment.code)">Cangear</button>
  </div>
</ng-template>