<div class="content">
  <img src="assets/logo_ceraor.svg" alt="Logo" class="img-logo animate__animated animate__fadeIn" />

  <div class="grid-card animate__animated animate__fadeInUp">
    <h5 class="title">Ingresar a tu cuenta</h5>
    
    <form #form="ngForm" (ngSubmit)="login(form)" class="form-login">
      <label class="label-form">Correo</label>
      <input type="email" autocomplete="false" name="email" [(ngModel)]="credentials.email" placeholder="name@example.com" class="input-field" required />

      <label class="label-form mt-3">Contraseña</label>
      <input type="password" autocomplete="false" name="password" [(ngModel)]="credentials.password" placeholder="********" class="input-field"required />

      <!-- <a href="#modal1" class="forgot-link">Olvidé mi contraseña</a>

      <label class="remember-me">
        <input type="checkbox" />
        <span>Recordarme</span>
      </label> -->

      <button type="submit" class="btn btn-primary w-100 mt-5">Iniciar Sesión</button>
      <div class="text-center">
        <span style="font-size: 12px;">Ver. 1.5</span>
      </div>
    </form>
  </div>
</div>